In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser
import pandas as pd

In [2]:
!which chromedriver

/c/Users/JeabD/bin/chromedriver

# Using Splinter to read html

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# Extract From NASA Website

In [4]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'

In [5]:
# Read html from website
browser.visit(url)

In [6]:
# Variables to store text from website
top_article_title =""
top_article_body = ""

In [7]:
# Store html in var
html = browser.html

# Read html tags into var using BeautifulSoup
soup = BeautifulSoup(html, 'lxml')
titles = soup.find('div', class_="list_text")

# Find all the classes name under div class "list_text"
for cur_div in titles.find_all('div'):
    
    if "content_title" in cur_div.attrs["class"]:      
        cur_a = cur_div.find('a')
        top_article_title = cur_a.text
    elif "article_teaser_body" in cur_div.attrs["class"]:     
        top_article_body = cur_div.text
        

print(top_article_title)
top_article_body

# dir(cur_div)
# print(cur_div.attrs)

How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus

'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'

# Extract from JPL Featured Space Image

In [8]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [9]:
browser.visit(jpl_url)

In [10]:
# Variables to store text from website
feat_img_url = "" #Using This one to retrieve url
feat_img_url_1 = ""
feat_img_url_2 = ""
feat_img_url_new = ""

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [12]:
# Find image parth first part
find_div_1 = soup.find('div', class_="jpl_logo")
feat_img_url_1 = find_div_1.a['href']

feat_img_url_1

'//www.jpl.nasa.gov/'

In [13]:
# Find image parth first part
find_div_raw = soup.find('li', class_="slide")
feat_img_url = find_div_raw.a['data-fancybox-href']

In [14]:
feat_img_url_strip = feat_img_url.split('/')
feat_img_url_strip
# feat_img_url_2 = (f"{feat_img_url_strip[1]}/{feat_img_url_strip[2]}")
feat_img_url_2 = (f"{feat_img_url_strip[1]}/{feat_img_url_strip[2]}/{feat_img_url_strip[3]}/{feat_img_url_strip[4]}")
feat_img_url_2

'spaceimages/images/largesize/PIA23844_hires.jpg'

In [15]:
feat_img_url = (f"https:{feat_img_url_1}{feat_img_url_2}")
feat_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23844_hires.jpg'

# Extract Mars Weather from Twitter

# Using Soup

In [16]:
mars_weather = ""

In [17]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'

In [18]:
import time
browser.visit(twitter_url)
time.sleep(3)

In [19]:
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [23]:
# Get Mars Weather from attributes
extract_mars_weather = soup.find_all('div', attrs={'data-testid': 'tweet'})
mars_weather = extract_mars_weather[0].find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").find('span',class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0").text
mars_weather

'InSight sol 500 (2020-04-22) low -93.8ºC (-136.8ºF) high -3.5ºC (25.6ºF)\nwinds from the WNW at 4.5 m/s (10.1 mph) gusting to 20.4 m/s (45.6 mph)\npressure at 6.70 hPa'

In [21]:
# This is alternative method using try:
# mars_weather = soup.find_all('div', attrs={'data-testid': 'tweet'})
# len(mars_weather)
# for each_mars_weather in mars_weather[0]: 
#     try:
#         print_mars_weather = each_mars_weather.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").find('span',class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0").text
#         print(print_mars_weather)
#         break
#     except:
#         print('e')

e
InSight sol 500 (2020-04-22) low -93.8ºC (-136.8ºF) high -3.5ºC (25.6ºF)
winds from the WNW at 4.5 m/s (10.1 mph) gusting to 20.4 m/s (45.6 mph)
pressure at 6.70 hPa

# Extract Mar Facts from Space Facts

## Using Pandas

In [27]:
url = 'https://space-facts.com/mars/'

In [40]:
# Variable to contain mars facts data frame
mars_facts = ""

In [39]:
tables = pd.read_html(url)
type(tables)
# There are four tables in the webpage
# tables

list

In [29]:
# tables[0]
# tables[1]
# tables[2]

In [36]:
# Mars Facts
mars_facts = pd.DataFrame(tables[0])
mars_facts
# mars_facts_df = mars_facts.set_index(0)
# print(type(mars_facts_df))
# mars_facts.reset_index(0)
# mars_facts.describe

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
# Set index to be in the same level
# mars_facts_df.reset_index(level=[0, 1])
# mars_facts_df

In [37]:
mars_facts.rename(columns={0:"description", \
                           1:"value"}, inplace=True)
# mars_facts_df = mars_facts.set_index("description")
type(mars_facts)

print(mars_facts.columns)

mars_facts.head(8)

Index(['description', 'value'], dtype='object')

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC

In [33]:
# dir(mars_facts)

In [38]:
# dir(mars_facts)
mars_facts_tb = mars_facts.set_index('description')
mars_facts_tb

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

# Extract Mars Hemispheres from USGS

In [78]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [79]:
# Variables to contain images and title of the images 
img_url = ""
title = ""
hemisphere_image_urls ={}

In [80]:
browser.visit(usgs_url)

In [81]:
html = browser.html

# Read html tags into var using BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
titles = soup.find_all('div', class_="item")
# len(titles)
# type(titles)
# dir(titles)

In [82]:
for each_title in titles: 
    test = each_title.find('h3')
    print(test.text)
    browser.find_link_by_partial_text('Hemisphere Enhanced').click()
    # you can access the attribute using [href]
    img_url = browser.find_link_by_text('Sample').first['href']
    hemisphere_image_urls.update({test.text:img_url})
    print(img_url)
    
    browser.back()
# print(titles.prettify())

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [83]:
hemisphere_image_urls

{'Cerberus Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'Schiaparelli Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'Syrtis Major Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'Valles Marineris Hemisphere Enhanced': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}

In [70]:
for each_title in titles: 
    print(f"{count}:")
    test = each_title.find('h3')
    print(test.text)

1:
Cerberus Hemisphere Enhanced
1:
Schiaparelli Hemisphere Enhanced
1:
Syrtis Major Hemisphere Enhanced
1:
Valles Marineris Hemisphere Enhanced

In [68]:
hemisphere_image_urls={}
for each_title in titles: 
    
    browser.find_link_by_partial_text('Hemisphere Enhanced').click()
    img_url = each_title.a['href']
    title = each_title.find('h3')
    hemisphere_image_urls.update({title.text:img_url})
    
#     hemisphere_image_urls.update(title)
    print(f"Key = {test.text}: Value = {img_url}")
    
    browser.back()

Key = Valles Marineris Hemisphere Enhanced: Value = /search/map/Mars/Viking/cerberus_enhanced
Key = Valles Marineris Hemisphere Enhanced: Value = /search/map/Mars/Viking/schiaparelli_enhanced
Key = Valles Marineris Hemisphere Enhanced: Value = /search/map/Mars/Viking/syrtis_major_enhanced
Key = Valles Marineris Hemisphere Enhanced: Value = /search/map/Mars/Viking/valles_marineris_enhanced

In [69]:
hemisphere_image_urls.items()

dict_items([('Cerberus Hemisphere Enhanced', '/search/map/Mars/Viking/cerberus_enhanced'), ('Schiaparelli Hemisphere Enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced'), ('Syrtis Major Hemisphere Enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced'), ('Valles Marineris Hemisphere Enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced')])

tag = browser.find_by_tag('h3') 
print(tag.text)